<%include ./partials/head.ejs%>
<!-- for calculations -->
<form class="handy-form" method="POST" action="/quiz">

<div id="whom" class="fade out">
	<input type="text" name="name" placeholder="Full Name">
	<input type="email" name="email" placeholder="email">
	<select id="preference" name="preference">
		<option selected>Select One</option>
		<option value="House Cleaning">House Cleaning</option>
		<option value="Handy Man">Handy Man</option>
	</select>
</div>

<div class="fade out" >
	<h2>How many hours do you want to work?</h2>
	<input class="scored" value="4" id="hours" type="range" min="1" max="8" novalidate/>
</div>

<div class="fade out">
	<h2>How many days do you want to work?</h2>
	<input class="scored" value="4" id="days" type="range" min="1" max="8"  novalidate/>
</div>

<div class="fade out">
	<h2>How many projects have you run at once?</h2>
	<input class="scored" value="4"  id="projects" type="range" min="1" max="8"  novalidate/>
</div>

<div class="fade out">
	<h2>How many teams have you been a part of at once</h2>
	<select class="scored" value="1" id="teams" >
		<option value="1" >1</option>
		<option value="2" >2</option>
		<option value="3" >3</option>
		<option value="4" >4</option>
	</select>
</div>


<div class="fade out" id="cake">
	<h2>Which cake is the best cake?</h2>
	<select value="0" class="scored" id="cake" >
		<option value="3" >Tiramisu</option>
		<option value="1" >Red Velvet</option>
		<option value="5" >Tres Leches</option>
		<option value="7" >Fudgy the Whale</option>
	</select>
</div>

<input name="score" id="score" type="hidden">

<button class="fade out" id="submit" value="submit" type="submit">SUBMIT</button>

</form>

<%include ./partials/end.ejs%>


