.background-border {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
}
.column-flex {
  display: flex;
  flex-direction: column;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #18d2ee;
  color: white;
  transition: 1s;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
}
#logo {
  background-image: url(handy-logo.jpg);
  height: 100px;
  width: auto;
  background-size: cover;
  align-self: center;
  width: 150px;
  margin-top: 10px;
}
form {
  height: 40vh;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
h1 {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 35px;
  padding-top: 25px;
}
#tab {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-image: url('tab.png');
}
.continue {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}
.continue span {
  align-self: center;
  font-size: 20px;
  padding-left: 10px;
}
label,
h2 {
  margin-top: 5px;
}
.box {
  position: absolute;
  top: 0vh;
  width: 50vw;
  height: 10vh;
  align-self: center;
}
.box input,
.box select {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  color: white;
  height: 50px;
  font-size: 14px;
  margin: 10px 0px;
  padding-left: 8px;
  transition-duration: 0.25s;
}
.box input:focus,
.box select:focus,
.box input:active,
.box select:active {
  outline: none;
  border-left: 2px solid white;
  box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.2), 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
}
.fade {
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.out {
  opacity: 0;
}
.in {
  opacity: 1;
}
.submit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-box h2 {
  font-size: 20px;
}
.submit-box #submit {
  height: 50px;
  width: 20vw;
  transition: 0.25s;
  color: white;
  margin: 10px 0px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
}
.submit-box #submit:focus,
.submit-box #submit:hover,
.submit-box #submit:active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}
@keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  form {
    height: 30vh;
    margin: 8vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}
